<% content_for :page_title do %>
  Study Preferences
<% end %>

<ul>
  <% @study_preferences.each do |study_preference| %>
    <li>
      <%= link_to study_preference.deadline.name, study_preference %>
    </li>
  <% end %>
</ul>
<%= link_to "New Study Preference", new_study_preference_path, class: "btn btn-success" %>
