// Place all the styles related to the Deadlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 1em;
    font-size: larger;
    border: 3px solid black;
    border-radius: 2em;
    padding: 2em;
    background-color: white;
}


.title{
    text-align: center;
    }

.back {
    border: 3px solid #0098ca;
    color: #0098ca;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    background-color: white;
    border-radius: 1em;
  }

  .submit{
    border: 3px solid #0098ca;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    background-color: #0098ca;
    border-radius: 1em;
  }
